@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

// Colors
$Soft-red: #fe7867;
$Yellow: #fad400;
$Dark-desaturated-cyan: #25564b;
$Dark-blue: #19536b;
$Dark-moderate-cyan: #458c7e;
$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: #5a636c;
$Dark-grayish-blue: #818498;
$Grayish-blue: #a7abae;
$Light-blue: #3ebfff;
$White: #ffffff;

// Fonts
$Barlow-font: "Barlow", sans-serif;
$Fraunces-font: "Fraunces", serif;

// Weights
$Font-weight-600: 600;
$Font-weight-700: 700;
$Font-weight-900: 900;
