@import "variables";
@import "mixins";

.about {
  background-color: $White;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;

  &__info {
    @include flexBox(flex, column, center, center, no-wrap, 3rem);
    display: flex;
    text-align: center;
    padding: 3.125rem;
  }

  &__title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: $Fraunces-font;
    font-weight: $Font-weight-900;
    color: $Very-dark-desaturated-blue;
  }

  &__text {
    color: $Dark-grayish-blue;
    font-family: $Barlow-font;
    font-size: 1.25rem;
    line-height: 30px;
    padding: 0 20px 0 20px;
  }

  &__link {
    width: fit-content;
    margin-top: 2rem;
    padding: 0 0.5rem;
    position: relative;
    font-family: $Fraunces-font;
    font-weight: $Font-weight-900;
    text-transform: uppercase;
    color: $Very-dark-desaturated-blue;
    cursor: pointer;
    font-size: 1.25rem;
  }

  &__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 8px;
    bottom: -3px;
    left: 0;
    opacity: 0.3;
    transition: 0.2s;
  }

  &__link--yellow::before {
    background-color: $Yellow;
  }

  &__link--red::before {
    background-color: $Soft-red;
  }

  &__link:hover::before {
    opacity: 0.5;
  }
}

@media screen and (min-width: 810px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__images--col1 {
      order: 2;
    }

    &__info--col1 {
      order: 1;
    }

    &__images--col2 {
      order: 3;
    }

    &__info--col2 {
      order: 4;
    }
  }
}
