@import "mixins";
@import "variables";

.header {
  @include flexBox(flex, row, space-between, center, nowrap, 0);
  background-color: black;
  color: white;
  padding: 30px;
  z-index: 10;

  &__logo {
    width: 100px;
    position: relative;
    z-index: 10;
  }

  &__hamburguer {
    z-index: 10;
  }

  &__hamburguer:hover {
    cursor: pointer;
  }

  &__nav {
    width: 100%;
    height: 100%;
    top: -60rem;
    left: 0;
    position: absolute;
    transition: all 0.2s ease-in-out;
  }

  &__nav.header__nav--active {
    left: 0;
    top: 0;
  }

  &__ul {
    @include flexBox(flex, column, center, center, nowrap, 4.125rem);
    background-color: black;
    height: 100%;
    font-size: 25px;
  }
}
