@import "mixins";
@import "variables";

.header {
  width: 100%;
  @include flexBox(flex, row, space-between, center, no-wrap, 0);
  z-index: 10;
  padding: 1.5rem;

  &__logo {
    width: 12.5rem;
    z-index: 20;
    position: relative;
  }
  &__hamburguer {
    width: 1.875rem;
    display: none;
    cursor: pointer;
    z-index: 30;
  }

  &__nav {
    color: $White;
    z-index: 20;
  }

  &__ul {
    @include flexBox(flex, row, center, center, no-wrap, 3rem);
    font-weight: $Font-weight-900;
  }

  &__li {
    font-size: 1.2rem;
  }

  &__item {
    transition: text-decoration 0.3s ease;
  }

  &__item:hover {
    text-decoration: underline 3px;
  }

  &__button {
    background-color: $White;
    color: $Very-dark-desaturated-blue;
    padding: 0.75rem;
    border-radius: 3rem;
    border: 1px solid $White;
    transition: all 0.2s ease;
    font-family: $Fraunces-font;
    width: 8.5rem;
  }

  &__button:hover {
    border: 1px solid $White;
    background-color: transparent;
    color: $White;
    cursor: pointer;
  }
}

@media screen and (max-width: 740px) {
  .header {
    &__nav {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 40rem;
      transition: all 0.3s ease;
      z-index: 20;
      background-color: $Light-blue;
      opacity: 0.9;
      color: $White;
    }

    &__nav.header__nav--active {
      left: 0;
    }

    &__hamburguer {
      display: block;
    }

    &__ul {
      @include flexBox(flex, column, center, center, no-wrap, 5rem);
      margin-top: 10rem;
    }

    &__li {
      font-size: 1.75rem;
    }
  }
}
