@import "mixins";
@import "variables";

.principal {
  &__orange {
    background-position: 100%;
    background-repeat: no-repeat;
    height: calc(100svh - 100px);
  }

  &__orange--desktop {
    display: none;
  }

  &__welcome {
    width: 100%;
    @include flexBox(flex, column, center, center, no-wrap, 1rem);
    position: absolute;
    top: 300px;
    z-index: 10;
    h1 {
      font-size: 52px;
    }
  }

  &__title {
    margin: 0 4.75rem 0 4.75rem;
    color: $White;
    text-align: center;
    line-height: 5.625rem;
    font-size: 2.5rem;
    font-family: $Fraunces-font;
    font-weight: $Font-weight-900;
    text-transform: uppercase;
  }

  &__arrow {
    margin-top: 120px;
    width: 3rem;
  }
}

@media screen and (min-width: 850px) {
  .principal {
    &__welcome {
      h1 {
        font-size: 72px;
        letter-spacing: 15px;
      }
    }

    &__arrow {
      margin-top: 100px;
    }

    &__orange--mobile {
      display: none;
    }

    &__orange--desktop {
      display: block;
      width: 100%;
    }
  }
}
