@import "mixins";
@import "variables";

.principal {
  min-height: 100vh;
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: border-box;

  &__welcome {
    width: 70%;
    margin: auto;
    white-space: pre-wrap;
    @include flexBox(flex, column, center, center, no-wrap, 3.5em);
    padding: 3.375rem 0 0 0;
    text-align: center;
  }

  &__title {
    font-size: 2.75rem;
    font-family: $Fraunces-font;
    font-weight: $Font-weight-900;
    text-transform: uppercase;
    color: $White;
    line-height: 6.25rem;
  }

  &__arrow {
    width: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .principal {
    background-image: url("../images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
